nav {
    position: fixed;
    top: 50%;
    width: 100px;
    z-index: -1;
    

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;

        li{
            margin: 20px;
            position: relative;

            a{
                text-decoration: none;
                color: #333;
                padding-left: 20px;
                position: relative;
                display: block;
            }
        }
    }

    .scroll-indicator {
        position: absolute;
        left: 0;
        width: 4px;
        height: 20px;
        background-color: #fff;
        transition: top 0.3s ease;
    }

}