.header{

    display: flex;
    background-color: #225E75;
    margin: auto;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;

    .menu{

        display: flex;
        align-items: center;
        margin-left: 20px;

        .logo{
            width: 57px;
            height: 57px;
            border-radius: 4rem;
    
        }
    
        .img{
            width: 100%;
            height: 100%;
            vertical-align: middle;
            display: inline-block;
        }
    
        .titleHeader{
            color: #fff;
            display: flex;
            padding-left: 8px;
            align-self: center;
            font-family: Sourcesanspro;
            font-size: 12px;
            letter-spacing: 1px;
        }

    }
    

}
